<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                text-align: center;
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 10px;
            }

            th {
                background-color: #CCDAF5;
            }
            tr.team {
                background-color: #FDF2D0;
            }
            tr.good {
                background-color: #DCE9D5;
            }
            tr.bad {
                background-color: #EECDCD;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</td>
                <th>Min</td>
                <th>FG</td>
                <th>FT</td>
                <th>3P</td>
                <th>PTS</td>
                <th>REB</td>
                <th>AST</td>
                <th>STL</td>
                <th>BLK</td>
                <th>TO</td>
                <th>FG</td>
                <th>FT</td>
                <th>3P</td>
                <th>PTS</td>
                <th>REB</td>
                <th>AST</td>
                <th>STL</td>
                <th>BLK</td>
                <th>TO</td>
                <th>TOT</td>
            </tr>
{{range .}}
            <tr class="{{ .Class }}">
                <td>{{.Line.FirstName}} {{.Line.LastName}}</td>
                <td>{{.Line.Min}}</td>
                <td>{{.Line.Fgm}}-{{.Line.Fga}}</td>
                <td>{{.Line.Ftm}}-{{.Line.Fta}}</td>
                <td>{{.Line.Tpm}}-{{.Line.Tpa}}</td>
                <td>{{.Line.Pts}}</td>
                <td>{{.Line.Reb}}</td>
                <td>{{.Line.Ast}}</td>
                <td>{{.Line.Stl}}</td>
                <td>{{.Line.Blk}}</td>
                <td>{{.Line.To}}</td>
                <td>{{printf "%.1f" .Line.Zfg}}</td>
                <td>{{printf "%.1f" .Line.Zft}}</td>
                <td>{{printf "%.1f" .Line.Ztp}}</td>
                <td>{{printf "%.1f" .Line.Zpts}}</td>
                <td>{{printf "%.1f" .Line.Zreb}}</td>
                <td>{{printf "%.1f" .Line.Zast}}</td>
                <td>{{printf "%.1f" .Line.Zstl}}</td>
                <td>{{printf "%.1f" .Line.Zblk}}</td>
                <td>{{printf "%.1f" .Line.Zto}}</td>
                <td>{{printf "%.1f" .Line.Zsum}}</td>
            </tr>
{{end}}
        </table>
    </body>
</html>