apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: fantasy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: server
          image: gcr.io/erichaase-fantasy/fantasy # updated via gke-deploy google cloud builder to use image digest
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: PLAYER_IDS
              value: "3136195,4278073,3058254,3978,2490149,3147657,2960236,3907822,4397136,2490620,3948153,2528426,2583632,3416"
